h3 , h4 {
	text-align: center ;
}


body{

rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.83)), color-stop(51%, rgba(209,209,209,0.83)), color-stop(100%, rgba(254,254,254,0.66)));
background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.83) 50%, rgba(209,209,209,0.83) 51%, rgba(254,254,254,0.66) 100%);
background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.83) 50%, rgba(209,209,209,0.83) 51%, rgba(254,254,254,0.66) 100%);
background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.83) 50%, rgba(209,209,209,0.83) 51%, rgba(254,254,254,0.66) 100%);
background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,0.83) 50%, rgba(209,209,209,0.83) 51%, rgba(254,254,254,0.66) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	
}






footer {
    text-align: right;
    color: blue;
    font-size: 12px;
}
footer a { 
    color: red;
}
button {
    background: red;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
    margin-left: 29px;
    margin-top: 10px;
    margin-left: 90px;
}
/*pre{
    margin-left: 100px;
		width: 1200px;
	height: 300px;
     

}
*/
/* 
   .form_  textarea{
    margin-left: 100px;
    width: 1200px;
    height: 300px; 
}
 */ 
@media (min-width: 480px){
    pre {
    margin-left: 70px;
        width: 350px;
    height: 300px;
     

    }
    #crear_paste{
        text-align: center;
    }
    footer{
        display: block;
    }


    .form_  textarea{
    margin-left: 60px;
    width: 400px;
    height: 300px; 

  
}


@media (min-width: 768px){
    
 pre {
    margin-left: 70px;
        width:650px;
    height: 300px;
     

    }
    #crear_paste{
        text-align: center;
    }
    .form_  textarea{
    margin-left: 50px;
    width: 700px;
    height: 300px; 

}

@media (min-width: 1200px){

     pre {
    margin-left: 100px;
        width: 1110px;
    height: 300px;
     

    }
    .form_  textarea{
    margin-left: 60px;
    width: 1200px;
    height: 300px; 


}
